.camera{
    height: 350px;
    width: 300px;
    background-color: transparent;
    border-radius: 10px;
    position: relative;
    top: 0%;
    left: 15%;
    margin-bottom: 10px;
   
}
.video{
    border-radius: 50%;
}
.result{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.hasPhoto{
    height: 400px;
    width: 80vh;
    background-color: green;
    position: absolute;
    bottom: 0px;
    right: 0px;
   
}
.Takesnap{
    color: red;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 18px;
    background-image: linear-gradient(to right, blue 50%, green 50%);
  border: none;
  outline: none;
  appearance: none;
    background-position: 0%;
    background-size: 200%;
    color: white;
    transition: 0.5s;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    margin-bottom: 0px;
    cursor: pointer;
    
    

}
.Takesnap:hover{
    background-position: 100%;
}
.Takesnap1{
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 18px;
    background-image: linear-gradient(to right, blue 50%, green 50%);
  border: none;
  outline: none;
  appearance: none;
    background-position: 0%;
    background-size: 200%;
    color: white;
    transition: 0.5s;
    margin: auto 5px ;
    cursor: pointer;
 

}
.Takesnap1:hover{
    background-position: 100%;
}
canvas{
    margin: 5px 10px;
    background-color: white;
    height: 250px;
    width: 200px;
    padding: 2px;
    border-radius: 10px;
}