body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #242526;
  background: #242527;
  color: white;
}
body.darkbtn{
  background-color: rgb(199, 211, 161);
  background-color: white;
  color: black;
 
}
body.darkbtn .text_container p{
  color: black;
}
body.darkbtn .delete-box h4{
  color: black;
}
body.darkbtn .me{
  background-color: lightgrey;
  border: 1px solid lightgrey;
    color: black;
  
}
body.darkbtn .friend{
  
  background: lightcyan;
  color: black;

}

body.darkbtn .selected_user{
  
  background: rgb(227, 240, 240);
  color: black;

}
body.darkbtn  #openbar i{
  color: black;
}
h3.darkbtn{
  color: #242527;
}
body.darkbtn .message_form {
  background-color: transparent;
  
}

body.darkbtn .message_form input[type="text"] {
  background-color: rgb(180, 180, 180);
  color: white; 
}
body.darkbtn .reset-form{
  box-shadow: 1px 1px 4px rgb(19, 19, 19);
}

body.darkbtn .message_form .btn {
color: black;
 background-image: linear-gradient(to left,rgb(171, 211, 181) 50%, white 50%);
  background-position: 0%;
    background-size: 200%;
}
body.darkbtn .message_form .btn:hover{
  background-position: 100%;
}
body.darkbtn .main1 .btn1{
  border: 1px solid black;
}
body.darkbtn .randomColors i{
  color: black;
}
body.darkbtn .typing-effect {
  color: black;
}
/* section.darkbtn{
  border: 1px solid #242526;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
