.admin{
   
    display: block;
    position: absolute;
    justify-content: center;
    top: 7px;
    font-size: 16px;
    left: calc(100vw - 25vw);
    
    
}
.admin li{
    list-style: none;
}
.adminhidebtn{
    cursor: pointer;
}
.admin-u1{
    display: none;

}
.admin-u1 li{
    margin:2px;
    padding: 5px;
    text-transform: capitalize;
    background-color: transparent;
    width: 100%;
    border-bottom: 1px solid black;
    cursor: pointer;

}
.admin-u1.admin-panel{
    height: 30vh;
    position: relative;
    top: 15px;
    left: 0px;
    margin:5px 0px 0px -5px ;
    display: block;
    background-color: rgb(64, 65, 66);
    z-index: 100;
    
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .admin{
        left: calc(100vw - 80vw);
    }
    
    }
@media screen and (max-width: 767px) {
.admin{
    left: calc(100vw - 70vw);
}

}
@media screen and (min-width: 766px) and (max-width: 1350px) {
    .admin{
        left: calc(100vw - 50vw);

    }

    
    }